<a href='https://colab.research.google.com/github/ishaqmarashy/red-light-traffic-violation-classification/blob/main/decision%20tree%20classifier.ipynb' target='_parent'><img src='https://colab.research.google.com/assets/colab-badge.svg' alt='Open In Colab'/></a>

In [58]:
import pandas as pd
import os

csv_filename1 = "../data/Traffic_Violations/Traffic_violations_Reduced.csv"
csv_filename2 = "../data/Climate_Data/asos/asos_clean.csv"
df1 = pd.read_csv(csv_filename1)
df2 = pd.read_csv(csv_filename2)

In [59]:
df2

,DATE,tmpf,dwpf,sknt,relh,alti,vsby,feel,skyc1
0,2012-01-01 00:00:00,46.400000,36.581818,4.818182,70.132727,30.071818,8.272727,43.697273,OVC
1,2012-01-01 01:00:00,47.731429,37.502857,4.764706,68.402571,30.086471,9.441176,45.584571,BKN
2,2012-01-01 02:00:00,46.408333,37.500000,4.680851,71.891042,30.097391,9.468085,43.975208,CLR
3,2012-01-01 03:00:00,45.111628,37.204651,4.023810,74.466744,30.107073,9.738095,42.710930,OVC
4,2012-01-01 04:00:00,43.297674,36.567442,2.619048,77.824884,30.118333,10.000000,41.607209,CLR
...,...,...,...,...,...,...,...,...,...
102956,2023-09-29 20:00:00,75.304348,60.326087,3.769231,61.372609,29.796792,9.903846,75.366087,CLR
102957,2023-09-29 21:00:00,75.304348,60.326087,3.769231,61.372609,29.796792,9.903846,75.366087,CLR
102958,2023-09-29 22:00:00,75.304348,60.326087,3.769231,61.372609,29.796792,9.903846,75.366087,CLR
102959,2023-09-29 23:00:00,75.304348,60.326087,3.769231,61.372609,29.796792,9.903846,75.366087,CLR
102960,2023-09-30 00:00:00,75.304348,60.326087,3.769231,61.372609,29.796792,9.903846,75.366087,CLR

In [60]:
merged_df = pd.merge(df1, df2, left_on='DATE', right_on='DATE', how='left')

In [61]:
merged_df

,SeqID,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,Personal Injury,...,DV,DATE,tmpf,dwpf,sknt,relh,alti,vsby,feel,skyc1
0,d0c53876-4da4-4922-ac4f-d5a7e91c7bcc,MCP,"3rd District, Silver Spring",DRIVER FAIL TO STOP AT FLASHING RED TRAFFIC SI...,FENTON ST @ COLESVILLE RD,38.997645,-77.027105,Yes,No,No,...,0,2023-04-30 03:00:00,57.919565,55.435556,3.970000,91.751778,29.741089,9.480000,57.897778,CLR
1,e5619336-680c-4533-8055-ba7d79eec1e1,MCP,"2nd District, Bethesda",DRIVER FAILURE TO STOP AT STEADY CIRCULAR RED ...,ROCKVILLE PIKE / POOKS HILL RD,38.997566,-77.109724,Yes,No,Yes,...,1,2023-05-02 12:00:00,46.962791,38.032558,7.695238,72.453721,29.453962,9.416667,44.610233,BKN
2,1ded33ce-acea-41c9-ae81-161af71d56e2,MCP,Headquarters and Special Operations,DRIVER FAILURE TO STOP AT STEADY CIRCULAR RED ...,NB RT355 @ LITTLE SENECA PKWY,39.223205,-77.260313,Yes,No,No,...,0,2023-05-16 10:00:00,55.866667,52.961905,3.707547,90.415238,29.960654,9.923077,55.869048,CLR
3,b63e7cdb-fd9c-4c13-8728-8ae166a5260a,MCP,"3rd District, Silver Spring",DRIVER FAILURE TO STOP AT STEADY CIRCULAR RED ...,COLUMBIA PIKE / TECH RD,39.057987,-76.968677,Yes,No,Yes,...,1,2023-05-17 14:00:00,64.221951,49.446341,8.872549,59.397317,29.769541,10.000000,64.229268,CLR
4,973068ac-ab88-460a-8d82-9d2d80041890,MCP,"3rd District, Silver Spring",DRIVER FAIL TO STOP AT STEADY CIRCULAR RED SIGNAL,SPRING ST @ COLEVILLE RD,38.999282,-77.026098,Yes,No,No,...,0,2023-05-20 10:00:00,57.889474,56.616667,2.958678,95.791481,30.064426,4.885798,57.838889,OVC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781,cdd9b30e-9c82-471b-aec5-77cfdd182d37,MCP,"4th District, Wheaton",DRIVER FAIL TO STOP AT FLASHING RED TRAFFIC SI...,BOWIE MILL ROAD @ CASHELL ROAD,0.000000,0.000000,Yes,No,No,...,0,2013-09-17 02:00:00,58.643810,53.248095,1.634146,83.465952,30.222143,9.575000,58.635714,SCT
1782,116fd1e4-0a9c-4cc1-b147-866974780e6b,MCP,"4th District, Wheaton",MOTOR VEH W/O REQUIRED STOP LAMPS EQUIPMENT,CONNECTICUT AVE @ ASPEN HILL ROAD,0.000000,0.000000,Yes,No,No,...,0,2013-09-25 02:00:00,53.233333,49.070000,0.512195,86.456190,29.981429,9.926829,53.203571,CLR
1783,569ca511-ce44-4b97-aad3-783c36172735,MCP,"4th District, Wheaton",DRIVER FAIL TO STOP AT FLASHING RED TRAFFIC SI...,CASHELL ROAD @ MORNINGWOOD DRIVE,0.000000,0.000000,Yes,No,No,...,0,2013-09-19 02:00:00,55.603182,49.180455,1.697674,79.646364,30.228409,10.000000,55.557955,CLR
1784,d81c6100-f5c4-4451-950a-c7482cad81e5,MCP,"4th District, Wheaton",MOTOR VEH. W/O REQUIRED STOP LAMPS EQUIPMENT,GEORGIA AVE @ HINES ROAD,39.144320,-77.067415,Yes,No,No,...,0,2014-12-17 23:00:00,41.876923,28.556757,7.972973,57.388378,30.011538,9.921053,38.103714,CLR
1785,680191e6-e2b7-4415-9bf2-769c88db080b,MCP,"4th District, Wheaton",MOTOR VEHW/O REQUIRED STOP LAMPS EQUIPMENT,OLNEY-SANDY SPRING ROAD @ OLD BALTIMORE,0.000000,0.000000,Yes,No,No,...,0,2013-09-09 23:00:00,73.309500,63.262000,4.538462,71.321000,30.152000,10.000000,73.301000,FEW

In [62]:
merged_df.isna().sum()

SeqID                         0
Agency                        0
SubAgency                     0
Description                   0
Location                      0
Latitude                      0
Longitude                     0
Accident                      0
Belts                         0
Personal Injury               0
Property Damage               0
Fatal                         0
Commercial License            0
HAZMAT                        0
Commercial Vehicle            0
Alcohol                       0
Work Zone                     0
Search Conducted           1294
Search Disposition         1741
Search Outcome             1313
Search Reason              1741
Search Reason For Stop     1295
Search Type                1741
Search Arrest Reason       1747
State                         0
VehicleType                   0
Year                          1
Make                          0
Model                         0
Color                         5
Violation Type                0
Charge                        0
Article                       0
Contributed To Accident       0
Race                          0
Gender                        0
Driver City                   0
Driver State                  0
DL State                      1
Arrest Type                   0
Geolocation                   0
DV                            0
DATE                          0
tmpf                          0
dwpf                          0
sknt                          0
relh                          0
alti                          0
vsby                          0
feel                          0
skyc1                         0
dtype: int64

In [63]:
merged_df.drop(columns=['Search Conducted','Search Disposition','Search Outcome',
                                    'Search Reason','Search Reason For Stop','Search Type',
                                    'Search Arrest Reason','Arrest Type','SubAgency','Agency'
                                    ,'SeqID','Description','Location','Geolocation'],inplace=True)

In [64]:
merged_df.columns

Index(['Latitude', 'Longitude', 'Accident', 'Belts', 'Personal Injury',
       'Property Damage', 'Fatal', 'Commercial License', 'HAZMAT',
       'Commercial Vehicle', 'Alcohol', 'Work Zone', 'State', 'VehicleType',
       'Year', 'Make', 'Model', 'Color', 'Violation Type', 'Charge', 'Article',
       'Contributed To Accident', 'Race', 'Gender', 'Driver City',
       'Driver State', 'DL State', 'DV', 'DATE', 'tmpf', 'dwpf', 'sknt',
       'relh', 'alti', 'vsby', 'feel', 'skyc1'],
      dtype='object')

In [65]:
merged_df

,Latitude,Longitude,Accident,Belts,Personal Injury,Property Damage,Fatal,Commercial License,HAZMAT,Commercial Vehicle,...,DV,DATE,tmpf,dwpf,sknt,relh,alti,vsby,feel,skyc1
0,38.997645,-77.027105,Yes,No,No,No,No,No,No,No,...,0,2023-04-30 03:00:00,57.919565,55.435556,3.970000,91.751778,29.741089,9.480000,57.897778,CLR
1,38.997566,-77.109724,Yes,No,Yes,No,No,No,No,No,...,1,2023-05-02 12:00:00,46.962791,38.032558,7.695238,72.453721,29.453962,9.416667,44.610233,BKN
2,39.223205,-77.260313,Yes,No,No,Yes,No,No,No,No,...,0,2023-05-16 10:00:00,55.866667,52.961905,3.707547,90.415238,29.960654,9.923077,55.869048,CLR
3,39.057987,-76.968677,Yes,No,Yes,No,No,No,No,No,...,1,2023-05-17 14:00:00,64.221951,49.446341,8.872549,59.397317,29.769541,10.000000,64.229268,CLR
4,38.999282,-77.026098,Yes,No,No,Yes,No,No,No,No,...,0,2023-05-20 10:00:00,57.889474,56.616667,2.958678,95.791481,30.064426,4.885798,57.838889,OVC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781,0.000000,0.000000,Yes,No,No,No,No,No,No,No,...,0,2013-09-17 02:00:00,58.643810,53.248095,1.634146,83.465952,30.222143,9.575000,58.635714,SCT
1782,0.000000,0.000000,Yes,No,No,No,No,No,No,No,...,0,2013-09-25 02:00:00,53.233333,49.070000,0.512195,86.456190,29.981429,9.926829,53.203571,CLR
1783,0.000000,0.000000,Yes,No,No,No,No,No,No,No,...,0,2013-09-19 02:00:00,55.603182,49.180455,1.697674,79.646364,30.228409,10.000000,55.557955,CLR
1784,39.144320,-77.067415,Yes,No,No,No,No,No,No,No,...,0,2014-12-17 23:00:00,41.876923,28.556757,7.972973,57.388378,30.011538,9.921053,38.103714,CLR
1785,0.000000,0.000000,Yes,No,No,No,No,No,No,No,...,0,2013-09-09 23:00:00,73.309500,63.262000,4.538462,71.321000,30.152000,10.000000,73.301000,FEW

In [66]:
merged_df['Longitude']

0      -77.027105
1      -77.109724
2      -77.260313
3      -76.968677
4      -77.026098
          ...
1781     0.000000
1782     0.000000
1783     0.000000
1784   -77.067415
1785     0.000000
Name: Longitude, Length: 1786, dtype: float64

In [67]:
merged_df['Latitude']

0       38.997645
1       38.997566
2       39.223205
3       39.057987
4       38.999282
          ...
1781     0.000000
1782     0.000000
1783     0.000000
1784    39.144320
1785     0.000000
Name: Latitude, Length: 1786, dtype: float64

In [68]:
csv_filename3 = "../data/tv_asos.csv"
merged_df.to_csv(csv_filename3, index=False)